<nav>
	<div class="nav-logo">
		<!-- / is served as the static dir path -->
		<img src="/images/logo.png" alt="logo">
		<span>Pomodoro</span>
	</div>
	<div class="nav-options">
		<div class="nav-options-item report">
			<img src="/images/report.png" alt="report-icon">
			<span>Report</span>
		</div>
		<div class="nav-options-item settings">
			<img src="/images/settings.png" alt="settings_icon">
			<span>Settings</span>
		</div>
		<img class="nav-options-item avatar" src="/images/avatar.png" alt="">
	</div>
</nav>