<main>
	<div class="timer-container">
		<div class="timer-options">
			<div class="timer-options-item active pomodoro">Pomodoro</div>
			<div class="timer-options-item sBreak">Short Break</div>
			<div class="timer-options-item lBreak">Long Break</div>
		</div>
		<div class="timer">
			<span id="minutes"></span>:<span id="seconds"></span>
		</div>
		<div class="control">
			<button class="controlBtn"><span>start</span></button>
			<img class="control-forward" src="/images/forward.png">
		</div>
	</div>
</main>